# 依赖目录
node_modules/
/node_modules/**  
/node_modules

# 配置文件
src/config/llm.yaml
config/
# IDE配置
.vscode/
.idea/
*.swp
*.swo



# Next.js build output
.next/
.next/**

.env

out/
build/
dist/


test/


# Playwright test data
playwright-data/
playwright-data/**


reddit_data/*


src/config/config.yaml


test/*/

doc/*/